<tr>
  <td class="id-cell"><%= task.id %></td>
  <td class="state-cell">
    <a href="">
    <span class="glyphicon glyphicon-check" data-toggle="tooltip" title="first tooltip"></span>
    </a>
  </td>
  <td class="name-cell" colspan="2">
    <%= task.description %>
  </td>
</tr>