<%= panel("Imagenes de #{@activity.name}", (can?(:create, Image)),
  button_options: { text: "Nueva Imagen", url: [:new, @project, @activity, :image] }) do %>

  <div class="alert alert-warning">
    <span style="font-size: 14px">
      <strong>¡Importante!</strong> Seleccione las imagenes que desea subir o arrastre y suelte los archivos en el navegador.
    </span>
    <div class="add-image" style="margin-top: 10px">
      <%= form_for [@project, @activity, Image.new], html: { multipart: true,
        id: 'form-add-image' } do |f| %>
        <%= f.file_field :image_file, multiple: true, name: "image[image_file]" %>
      <% end %>
    </div>
  </div>
  <div class="uploader"></div>
  <div class="gallery">
    <% @images.each do |image| %>
      <%= render partial: "shared/thumbnail", locals: { image: image,
        url_to_edit_image: [:edit, @project, @activity, image],
        url_to_delete_image: [@project, @activity, image] } %>
    <% end %>
  </div>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="progress-bar progress-bar-warning" style="width: 0%"></div></div>
  </div>
</script>

<script id="template-error" type="text/x-tmpl">
  <div class="alert alert-danger">Error en formato de archivo {%=o.name%}</div>
</script>
