.table-tasks {
  width: 100%;
  background-color: #FFF;
  tbody tr > td {
    border: 1px solid #DDDDDD;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  tbody tr {
    &:hover { background-color: #F5F5F5; }
  }

  .state-cell {
    text-align: center;
    min-width: 8%;
    &:hover {
      span { color: #AF2D27; }
    }
  }
  .name-cell {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.task-completed {
  background-color: #F5F5F5;
  text-decoration:line-through;
}
.mark-task {
  color: #47474A;
}

.table-followers {
  width: 100%;
  background-color: #FFF;
  tbody tr > td {
    height: 40px;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .follower-image {
    width: 4%;
    background-color: #47474A;
  }
  .follower-name {
    padding-left: 10px;
    font-size: 12px;
    font-weight: bolder;
  }
  .follower-type {
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    color: #AF2D27;
  }
}

.current-execution {
  color: #AF2D27;
  height: 100%;
  width: 100%;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
}
.caption-execution {
  color: #AF2D27;
  font-size: 25px;
  padding-left: 10px;
  text-align: center;
  font-weight: bold;
}