@import "compass/utilities/sprites";

body {
  background: url("background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #47474A;
  font-family: "Open Sans", sans-serif !important;
  font-size: 11px !important;
  font-weight: 400 !important;
  line-height: 1.3em !important;
  padding-top: 50px;
}

.breadcrumb {
  color: #FFFFFF;
}

.header-container {
  color: #FFFFFF;
  background-color: #47474A;
  font-size: 2.18em;
  font-weight: 600;
  line-height: 2em;
  padding-left: 2%;
  // text-transform: uppercase;
}

.body-container {
  padding: 30px 60px;
  background-color: #E5E5E5;
}

.footer-container {
  color: #FFFFFF;
  text-align: center;
  height: 50px;
  background-color: #47474A;
  padding: 10px;
}

@mixin action-icon($sprite) {
  @include icon-sprite($sprite);
  width: icon-sprite-width($sprite);
  height: icon-sprite-height($sprite);
  display: block;
  text-indent: -999px;
  overflow: hidden;
}

@mixin menu-icon($sprite) {
  @include icon-sprite($sprite);
  width: icon-sprite-width($sprite);
  height: icon-sprite-height($sprite);
  display: block;
  text-indent: -999px;
  overflow: hidden;
}
@mixin table-icon-action($icon) {
  a.#{$icon} { @include action-icon(action-#{$icon}-default); }
  a.#{$icon}:hover { @include action-icon(action-#{$icon}-active); }
  span.#{$icon} { @include action-icon(action-#{$icon}-disabled); }
}

@mixin main-menu-icon($icon) {
  a.#{$icon} { @include menu-icon(mainmenu-#{$icon}-default); }
  a.#{$icon}:hover { @include menu-icon(mainmenu-#{$icon}-active); }
  span.#{$icon} { @include menu-icon(mainmenu-#{$icon}-disabled); }
}

@import "icon/*.png";
@include all-icon-sprites;

.table {
  @include table-icon-action("edit");
  @include table-icon-action("show");
}
.navbar-nav {
  @include main-menu-icon("new-company");
  @include main-menu-icon("new-institution");
  @include main-menu-icon("new-project");
}
//Forms
.btn-form {
  margin: 5px;
}

// Panel
.text-title-panel {
  vertical-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-title-small-panel {
  vertical-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-box {
  margin-top: 0;
  dt {
    color: #AF2D27;
    font-weight: 700;
    text-transform: uppercase;
  }
  dd {
    padding-left: 5px;
    padding-bottom: 5px;
  }
}

.thumb-gallery {
  display: block;
  padding-left: 40px;
}