<ul class="button-container">
  <li><%= quick_button "Imagenes", "", [@project, @activity, :images] %></li>
  <li><%= quick_button "Adjuntos", "", "#" %></li>
  <li><%= quick_button "Volver", "", [@project] %></li>
</ul>

    <%# popover_to_execution_form(@execution, project_activity_execution_path(@project,
      @activity, @execution)) %>