<!-- FORM -->
<%= simple_form_for Task.new, url: [@project, @activity, :tasks], remote: true,
  html: { class: "form" } do |f| %>
    <%= f.input :description, placeholder: "Agregar Tarea",
      label: false %>
    <%= f.association :users, collection: @activity.users,
      label_method: :full_name, value_method: :id, label: false,
      input_html: { class: "chosen", data: { placeholder: "Asignar Usuarios" } } %>
<% end %>
<br>
<!-- TASK LIST -->
<% if @activity.tasks.any? %>
  <table class="table-tasks">
    <tbody>
      <% @activity.tasks.includes(:users).each do |task| %>
        <%= render partial: "shared/task_cell", locals: { project: @project,
          activity: @activity, task: task } %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="table-tasks">
    <tbody>
    </tbody>
  </table>
<% end %>